<div>
    <table class="table table-striped" *ngIf ="observableData != null">
        <thead class="datahead">
            <tr>
                <!--This creates the table headers based each element in headersArray-->
                <th class="dataheadcell" *ngFor="let h of headersArray"> 
                    {{h}}
                </th>   
            </tr>
        </thead>
        <tbody>
            <!--This creates rows for each object "c" in columnsArray, then a table cell for each property "o" of each object "c" in columnsArray-->
            <tr class="datarow" *ngFor="let c of columnsArray | paginate: { itemsPerPage: 5, currentPage: cp }" class="listMargin" > 
                <td class="datarowcell" *ngFor="let o of c"> 
                    {{o}}
                </td>
            </tr>
        </tbody>
    </table>

    <!-- <ul *ngFor="let o of columnsArray| paginate: { itemsPerPage: 5, currentPage: cp }" class="listMargin">
        {{o}}
    </ul> -->
 
    <pagination-controls (pageChange)="cp = $event"></pagination-controls>
 
</div>