
<p>pokemon-card-match works!</p>
<div class="container transparent divStyle">
  <div>

    <div class="card" id="c1" (click)="flippedc1 = !flippedc1; updateCounter('1')">
      <div *ngIf="flippedc1; eslse elseBlock" class="back" id="c1" >{{ card1 }}</div>
      <ng-template #elseBlock class="card" id="c1">
      </ng-template>
    </div>

    <div class="card" id="c2" (click)="flippedc2 = !flippedc2 ; updateCounter('2')">
      <div *ngIf="flippedc2; eslse elseBlock" class="back" id="c2" >{{ card2 }}</div>
      <ng-template #elseBlock class="card" id="c2">
      </ng-template>
    </div>

  </div>
  <div class="divFloat">
    <div class="card" id="c3" (click)="flippedc3 = !flippedc3 ; updateCounter('1')">
      <div *ngIf="flippedc3; eslse elseBlock" class="back" id="c3" >{{ card3 }}</div>
      <ng-template #elseBlock class="card" id="c3">
      </ng-template>
    </div>

    <div class="card" id="c4" (click)="flippedc4 = !flippedc4 ; ; updateCounter('2')">
      <div *ngIf="flippedc4; eslse elseBlock" class="back" id="c4" >{{ card4 }}</div>
      <ng-template #elseBlock class="card" id="c4">
      </ng-template>
    </div>
  </div>
  <button type="submit">Start</button>

</div>
