<div *ngIf="!friendAction">
  <div *ngIf="!selectFriend">
    <div class="col text-center">
      <h6></h6>
      <h2 class="row display: flex justify-content-center" style="padding-top: 10%;">Friends</h2>
      <h6>Page {{currentPage}} of {{lastpage}}</h6>
      <form class="d-inline-flex p-2" (ngSubmit)="onChangePagePrev()" #searchForm="ngForm">
        <button class="btn btn-outline-success" type="submit">Prev Page</button>
      </form>
      <form class="d-inline-flex p-2" (ngSubmit)="onChangePageNext()" #searchForm="ngForm">
        <button class="btn btn-outline-success" type="submit">Next Page</button>
      </form>
      <br>
      <div class="border my-4 d-flex justify-content-center"></div>
      <br>
      <div style="font-size: medium; margin-left: 2rem;">
        <button *ngIf="isPending" (click)='filterForPending()' style="justify-self: center; font-size: large;">Show Pending Requests</button>
        <button *ngIf="!isPending" (click)='filterForPending()' style="justify-self: center; font-size: large;">Show Friends</button>
      </div>
    </div>

    <div class="container mt-4 mb-3 p-3 bg-body rounded" id="friend-list-container">
      <div *ngFor="let friend of pageOfItems" class="user-card">
        <span>@{{friend.UserName}}</span>
        <button *ngIf="!isPending" class="btn btn-success btn-sm" id="accept-button" (click)="clickt(friend)">Accept?</button>
        <button *ngIf="isPending" class="btn btn-success btn-sm" aria-disabled="true" id="editbutton" (click)="selectFriend = friend.UserID">View Collection</button>
        <button class="btn btn-success btn-sm " id="message-friend" routerLink="../Messages/{{friend.UserID}}">Message</button>
        <span>Level: {{friend.UserLevel}}</span>
        <span>Total cards: {{friend.TotalCards}}</span>
        <span *ngIf="isPending">Friends Since: <br /> {{friend.FriendSince | date: 'short'}}</span>
        <span *ngIf="!isPending">Pending Since: <br /> {{friend.FriendSince | date: 'short'}}</span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="selectFriend">
  <button class="btn btn-success btn-sm" aria-disabled="true" id="editbutton" (click)="refresh()">Back to List</button>
  <app-cardcollect [differentUser]="selectFriend"></app-cardcollect>
</div>

<div *ngIf="friendAction" class="row d-flex justify-content-center">
  <br>
  <br>
  <div>
    <h1 class="col text-center" style="margin-top: 10%;">{{friendAction}}</h1>
  </div>
  <br>

  <button class="btn btn-success btn-sm" aria-disabled="true" id="editbutton" style="width: 50%;" (click)="refresh()">Back to List</button>
</div>
