

<form class="form-signup" style="max-width: 580px; margin:auto" (ngSubmit)="OnSubmit(postForm)"
                    #postForm="ngForm">
                    
                    <div class="alert alert-danger mt-4" role="alert"  style="margin-top: -25px; margin-bottom: -25px;" *ngIf="isPriceValid">
                        Please select an amount!
                    </div>                                                    
                                     
                        <label for="Price" class=" mb-3 mt-3 sr-only"></label>
                        <input type="number" min="0" name="Price" class="form-control form-control-sm"
                            placeholder="Price" required ngModel>

                    <div class="d-grid col-8 mx-auto" style="margin-top: -25px; margin-bottom: -25px;">
                        <button class="btn btn-danger btn-sm my-5" [disabled]="submittedSuccesfully"
                            type="submit" (click)="OnSubmit(postForm)">Submit Edit</button>
                    </div>

                </form>

