/* .btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  box-shadow: 4px 4px 5px 0px #131313;
} */

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.bg-body{
  --bs-bg-opacity: 0;
}

.c-details span{
    font-weight: 300;
    font-size: 10px;
    color: #707070;

}
.col-md-7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#buybutton{
  margin: 2.5px;
}
#editbutton{
  background-color: rgb(66, 66, 243);
  margin: 2.5px;
}
#editbutton:hover{
  background-color: rgb(57, 57, 204);
}
#commentbutton{
  background-color: rgb(204, 57, 57);
  margin: 2.5px;
}
#commentbutton:hover{
  background-color: rgb(168, 52, 52);
}
#addbutton{
  background-color: rgb(193, 66, 243);
  margin: 2.5px;
}
#addbutton:hover{
  background-color: rgb(193, 57, 204);
}

.dot {
  margin-bottom: 2px;
  height: 5px;
  width: 5px;
  background-color: #707070;
  border-radius: 50%;
  display: inline-block;
}





.shinyclass {
  color : pink;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.card1 {
  background-color: #96e6c2;
  border-style: solid;
  border-width: thin;
  border-color: black;
}
.card1:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.card2 {
  background-color: #ADD8E6;
  border-style: solid;
  border-width: thin;
  border-color: black;
}
.card2:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
.card3 {
  background-color: #CBC3E3;
  border-style: solid;
  border-width: thin;
  border-color: black;
}
.card3:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
.card4 {
  background-color: #ffcccb;
  border-style: solid;
  border-width: thin;
  border-color: black;
}
.card4:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
.card5 {
  background-color: #FFD580;
  border-style: solid;
  border-width: thin;
  border-color: black;
}
.card5:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.card6{
  background-color: rgb(202, 201, 201);
  border-style: solid;
  border-width: thin;
  border-color: black;
}
.card6:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
