<div>
<h1 style="text-align: center">{{outcome}}</h1>
</div>

<div style="display: flex; justify-content: center; margin: -4rem;">
    <div *ngIf="userChoice == 1">
        <img src="/assets/game-api/empty.png" class="bulbasaurback">
    </div>
    <div *ngIf="userChoice == 2">
        <img src="/assets/game-api/empty.png" class="squirtleback">
    </div>
    <div *ngIf="userChoice == 3">
        <img src="/assets/game-api/empty.png" class="charmanderback">
    </div>
    <div *ngIf="computerChoice == 1">
        <img src="/assets/game-api/empty.png" class="bulbasaurfront">
    </div>
    <div *ngIf="computerChoice == 2">
        <img src="/assets/game-api/empty.png" class="squirtlefront">
    </div>
    <div *ngIf="computerChoice == 3">
        <img src="/assets/game-api/empty.png" class="charmanderfront">
    </div>
    
</div>
<div class="text">
    <p> {{message}}</p>
</div>

<div *ngIf="userWon" class="col text-center">
    <h1>You earned {{numCoinsToAdd}} coins!</h1>
</div>
<div class="border my-4 d-flex justify-content-center"></div>
<div class="col text-center">
    <button class="btn btn-outline-success" (click)="playAgain()">Play Again?</button>
</div>