<div class="container">
    <h1 style="text-align: center">{{outcome}}</h1>

    <div *ngIf="userWon" class="center h4 my-5"> {{totalEarned}}</div>


    <div style="display: flex; justify-content: center; margin: -4rem;" class="mt-5">
        <div *ngIf="userChoice == 1">
            <img src="/assets/game-api/empty.png" class="bulbasaurback">
        </div>
        <div *ngIf="userChoice == 2">
            <img src="/assets/game-api/empty.png" class="squirtleback">
        </div>
        <div *ngIf="userChoice == 3">
            <img src="/assets/game-api/empty.png" class="charmanderback">
        </div>
        <div *ngIf="computerChoice == 1">
            <img src="/assets/game-api/empty.png" class="bulbasaurfront">
        </div>
        <div *ngIf="computerChoice == 2">
            <img src="/assets/game-api/empty.png" class="squirtlefront">
        </div>
        <div *ngIf="computerChoice == 3">
            <img src="/assets/game-api/empty.png" class="charmanderfront">
        </div>
    </div>
    <p class="text mt-3"> {{message}}</p>
    <div class="center mt-5">
        <button class="button" (click)="playAgain()">Play Again?</button>
    </div>
</div>