.pokeball{
    margin: 2em;
    margin-right: 10%;
    margin-left: 10%;
    height: 100%;
    width: 100%;
    border: none;
    background-image:url("/assets/game-api/pokeball.png");
    background-size:contain;
}

td{
    margin-right: 10%;
    margin-left: 10%;
}
.pokeball.bulbasaur:hover{
    background-image:url("/assets/game-api/bulb-front.png");
    background-size:150%;
    background-position: center;
}
.pokeball.squirtle:hover{
    background-image:url("/assets/game-api/squirtle-front.png");
    background-size:150%;
    background-position: center;
}
.pokeball.charmander:hover{
    background-image:url("/assets/game-api/char-front.png");
    background-size:150%;
    background-position: center;
}