<h1 style="text-align: center;">
    Choose your Pokemon!
</h1>
<table style="display: flex; justify-content: center;">
    <tr class="col text-center" >
    <td><img src ="/assets/game-api/empty.png" class="pokeball bulbasaur" (click)="PokemonSelected(1)"></td>
    <td><img src ="/assets/game-api/empty.png" class="pokeball squirtle" (click)="PokemonSelected(2)"></td>
    <td><img src ="/assets/game-api/empty.png" class="pokeball charmander" (click)="PokemonSelected(3)"></td>
    </tr>
</table>
