.pokeball{
    margin: 5%;
    height: 100%;
    width: 100%;
    border: none;
    background-image:url("/assets/game-api/pokeball.png");
    background-size:contain;
}
.pokeball.bulbasaur:hover{
    background-image:url("/assets/game-api/bulb-front.png");
    background-size:150%;
    background-position: center;
}
.pokeball.squirtle:hover{
    background-image:url("/assets/game-api/squirtle-front.png");
    background-size:150%;
    background-position: center;
}
.pokeball.charmander:hover{
    background-image:url("/assets/game-api/char-front.png");
    background-size:150%;
    background-position: center;
}