.generalSection{
  width: 49%;
  border: 1px solid black;
  height: 300px;
  float: left;
}
p, h4 {
  margin-left: 40%;
}
.strike {
  width: 50%;
  height: 50%;
  margin-top: 20%;
  margin-left: 10%;
}
#gallows{
  background: #ff5100;
  height: 603px;
}

#strikes{
  background: greenyellow;
}

#guess{
  background: orange;
}


.divStyle{
  margin-top: 25%;
}
