<p>cap-game works!</p>
<br/>
<br/>
<br/>

<div  class="container">
    <app-cap-game-catch 
        *ngIf="currentState === GameState.Catch" 
        (catchChanceEmitter)="setCatchChance($event)"
    ></app-cap-game-catch>
    <app-cap-game-result 
        *ngIf="currentState === GameState.Result" 
        [catchChanceResult]="catchChance"
        [pokemonImgSrc]="pokemonUrl"
        [pokemonName]="pokemonName"
        (playAgainEmitter)="playAgain()"
    ></app-cap-game-result>
    <app-cap-game-wait
        *ngIf="currentState === GameState.Wait"
        (showResults)="showResults()"
    >
    </app-cap-game-wait>
</div>

