.flex-cointainer{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100px;
    justify-content: space-evenly;
}
/* .flex-child{
    ;
} */
/* dropdownlist */
 select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    background: green;
    background-image: none;
    border:1px solid black;
}
select {
    /* width: 50%; */
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
} 


/* leaderboard table*/
.datarow{
    background-color: rgba(134, 220, 235, 0.5);
}

.datacell{
    background-color: rgb(137,132,164, .5);
}


.datatable{
    margin: 0px;
    padding: 0px;
}

td{
    height: 30px;
}

table th , table td{
    text-align: center;
}

/* stats messages*/
.bigbrain{
    height: 100px;
    width: 100px;
    transform: scaleX(-1);
    align-self: right;
}

table {
    padding: 10px;
    border: 2px solid #1c87c9;
    border-radius: 5px;
    background-color: #e5e5e5;
    text-align: center;
}
/* <div class="flex-child">


</div> */