<!--This is the top row of leaderboards component-->
<div class="filteringdata"> 
    <!--1: Categorical drop down-->
    <select class="choosingstatistic">
        <option *ngFor= "let l of allStatsOptions">
            {{l}}
        </option>
    </select>
    <input (click)="OnClickQueryFunction(currentChosenStat)" type="button" value="Submit"/>
    <!--2: Numerical dropwdown-->
    <select class="choosingnumber">
        <option *ngFor= "let l of allNumbersOptions" onchange="if (this.selectedIndex) OnClickQueryFunction()">
            {{l}}
        </option>
    </select>
    <input (click)="OnClickNumberFunction()" type="button" value="Submit"/>
    <!--3:Pages for pagination-->
    <div class="col text-center">
        <h6>Page {{currentPage}} of {{lastpage}}</h6>
       <form class="d-inline-flex p-2" (ngSubmit)="onChangePagePrev()" #searchForm="ngForm">
           <button class="btn btn-outline-success" type="submit">Prev Page</button>    
       </form>  
       <form class="d-inline-flex p-2" (ngSubmit)="onChangePageNext()" #searchForm="ngForm">
           <button class="btn btn-outline-success" type="submit">Next Page</button>    
       </form>
       <br>    
       <div class="border my-4 d-flex justify-content-center"></div>    
       <br>
    </div>
</div>


<button (click)="ServiceTest()"></button>

<!--If the data array is not empty, then dynamically iterate over the array and print out data according to bootstraps grid sys-->
<div class="container-fluid"  style="font-size:medium;" *ngIf="observableDataFromMethods">
    <div class="row" > <!--Logic to access the "keys" of the key-value pairs inserted into the "row" class via ngFor-->
        <div class="col" *ngFor="let o of observableDataFromMethods; let i = index"><!--Logic to insert values of dataarray-->
             <div class="prop">{{o}}</div>
        </div>   
    </div>
</div>




