<br>
<br>
<br>

<br>
<br>
<div class="row justify-content-center" style="font-size:medium;">
    <table class="col text-center" style="width:55%">
        <tr>
            <td align="center" colspan="3">
                <br>
                <div class="row display: flex justify-content-center" style="font-size:large;">
                    <h1 class="row display: flex justify-content-center">{{currentUserCoinBalance}} Coins Remaining</h1>
                </div>
            </td>
        </tr>
        <tr class="col text-center" style="width:55%">
            <td title="Normal card pack">
                <h4>Click the button below<br> to open a new card for<br> 100 coins!</h4><br>
                <img src="../../assets/img/Great_Ball.png" alt="lootbox img"><br>
                <button (click)='openLootbox(1)' title="Normal card pack" style="justify-self: center; font-size: large;">Open Card Pack</button>
            </td>
            <td title="Gaurantee a rare card or higher">
                <h4>Click the button below<br> to open a new card for<br> 500 coins!</h4><br>
                <img src="../../assets/img/Ultra_Ball.png" alt="lootbox img"><br>
                <button (click)='openLootbox(2)' title="Gaurantee a rare card or higher" style="justify-self: center; font-size: large;">Open Card Pack</button>
            </td>
            <td title="Gaurantee a shiny card">
                <h4>Click the button below<br> to open a new card for<br> 1000 coins!</h4><br>
                <img src="../../assets/img/Safari_Ball.png" alt="lootbox img"><br>
                <button (click)='openLootbox(3)' title="Gaurantee a shiny card" style="justify-self: center; font-size: large;">Open Card Pack</button>
            </td>
        </tr>
    </table>




    <br>
    <br>
    <br>
    <br>
    <div *ngIf="!tooPoor">
        <div *ngIf="newCard.PokemonName != null">

            <div *ngIf="newCard" style="font-size:medium;">
                <h2 class="row display: flex justify-content-center">New Card Unlocked</h2>

                <div class="row display: flex justify-content-center">

                    <div *ngIf="newCard.RarityId == 1" class="card1 text-center border-dark mb-3" style="width: 18rem; margin: 1rem;">
                        <img class="card-img-top" src={{newCard.MainSprite}} alt="{{newCard.PokemonName}} Image">
                        <div class="card-body">
                            <h6>Common</h6>
                            <h5 *ngIf="newCard.IsShiny as true; else elseBlock" class="card-title">★ {{newCard.PokemonName}} ★</h5>
                            <ng-template #elseBlock>
                                <h5 class="card-title">{{newCard.PokemonName}}</h5>
                            </ng-template>
                            <a href="{{bublapedia}}{{newCard.PokemonName}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View Details</a>
                            <!-- make button hyperlink to pokemon info page or remove -->
                        </div>
                    </div>

                    <div *ngIf="newCard.RarityId == 2" class="card2 text-center border-dark mb-3" style="width: 18rem; margin: 1rem;">
                        <img class="card-img-top" src={{newCard.MainSprite}} alt="{{newCard.PokemonName}} Image">
                        <div class="card-body">
                            <h6>Uncommon</h6>
                            <h5 *ngIf="newCard.IsShiny as true; else elseBlock" class="card-title">★ {{newCard.PokemonName}} ★</h5>
                            <ng-template #elseBlock>
                                <h5 class="card-title">{{newCard.PokemonName}}</h5>
                            </ng-template>
                            <a href="{{bublapedia}}{{newCard.PokemonName}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View Details</a>
                            <!-- make button hyperlink to pokemon info page or remove -->
                        </div>
                    </div>

                    <div *ngIf="newCard.RarityId == 3" class="card3 text-center border-dark mb-3" style="width: 18rem; margin: 1rem;">
                        <img class="card-img-top" src={{newCard.MainSprite}} alt="{{newCard.PokemonName}} Image">
                        <div class="card-body">
                            <h6>Rare</h6>
                            <h5 *ngIf="newCard.IsShiny as true; else elseBlock" class="card-title">★ {{newCard.PokemonName}} ★</h5>
                            <ng-template #elseBlock>
                                <h5 class="card-title">{{newCard.PokemonName}}</h5>
                            </ng-template>

                            <a href="{{bublapedia}}{{newCard.PokemonName}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View Details</a>
                            <!-- make button hyperlink to pokemon info page or remove -->
                        </div>
                    </div>

                    <div *ngIf="newCard.RarityId == 4" class="card4 text-center border-dark mb-3" style="width: 18rem; margin: 1rem;">
                        <img class="card-img-top" src={{newCard.MainSprite}} alt="{{newCard.PokemonName}} Image">
                        <div class="card-body">
                            <h6>Mythic</h6>
                            <h5 *ngIf="newCard.IsShiny as true; else elseBlock" class="card-title">★ {{newCard.PokemonName}} ★</h5>
                            <ng-template #elseBlock>
                                <h5 class="card-title">{{newCard.PokemonName}}</h5>
                            </ng-template>
                            <a href="{{bublapedia}}{{newCard.PokemonName}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View Details</a>
                            <!-- make button hyperlink to pokemon info page or remove -->
                        </div>
                    </div>

                    <div *ngIf="newCard.RarityId == 5" class="card5 text-center border-dark mb-3" style="width: 18rem; margin: 1rem;">
                        <img class="card-img-top" src={{newCard.MainSprite}} alt="{{newCard.PokemonName}} Image">
                        <div class="card-body">
                            <h6>Legendary</h6>
                            <h5 *ngIf="newCard.IsShiny as true; else elseBlock" class="card-title">★ {{newCard.PokemonName}} ★</h5>
                            <ng-template #elseBlock>
                                <h5 class="card-title">{{newCard.PokemonName}}</h5>
                            </ng-template>
                            <a href="{{bublapedia}}{{newCard.PokemonName}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View Details</a>
                            <!-- make button hyperlink to pokemon info page or remove -->
                        </div>
                    </div>

                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col col-lg-6">
                                <app-lb-child-who-has [newCard]="newCard" *ngIf="newCard != null"></app-lb-child-who-has>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div *ngIf="tooPoor" class="row display: flex justify-content-center">
        <div class="card6 text-center border-dark mb-3" style="width: 18rem; margin: 1rem;">
            <div class="card-body">
                <h6>You're too poor to buy this!</h6>
                <img class="card-img-top" src="assets/img/missigno.png" alt="Eternamax img">
                <div class="card-body">
                    <h6>Go earn coins.</h6>
                    <a href="https://bulbapedia.bulbagarden.net/wiki/MissingNo." target="_blank" rel="noopener noreferrer" class="btn btn-primary">View Details</a>
                    <h5 class="card-title">missigno</h5>
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-6">
                <app-lb-child-who-has></app-lb-child-who-has>
            </div>
        </div>
    </div> -->