



<h2 class="row display: flex justify-content-center" ></h2>

<div class="col text-center">
    <h6>Page {{currentPage}} of {{lastpage}}</h6>
    <h2 class="row display: flex justify-content-center" style="padding-top: 10%;">Users Cards</h2>
    <h6>Page {{currentPage}} of {{lastpage}}</h6>
   <form class="d-inline-flex p-2" (ngSubmit)="onChangePagePrev()" #searchForm="ngForm">
       <button class="btn btn-outline-success" type="submit">Prev Page</button>    
   </form>  
   <form class="d-inline-flex p-2" (ngSubmit)="onChangePageNext()" #searchForm="ngForm">
       <button class="btn btn-outline-success" type="submit">Next Page</button>    
   </form>
   <br>
   <button *ngIf="differentUser" class="btn btn-success btn-sm" aria-disabled="true" id="editbutton" (click)="friends()">Back to List</button>
   <br>    
   <div class="border my-4 d-flex justify-content-center"></div>    
   <br>
   <div>
    <div style="font-size: medium; margin-left: 2rem;">
    
        <label>Rarities</label>
        <select [(ngModel)]="filterValue">
            <option [value]="0" [selected]="filterValue == 0">Any</option>
            <!-- <option *ngFor="let x of raritiesList" [value]="x" [selected]="filterValue == x">{{x}}</option> -->
            <option *ngFor="let x of raritiesList" [value]="x.RarityId" [selected]="filterValue == x.RarityId">{{x.RarityName}}</option>
        </select>
    
        <input type="checkbox" [(ngModel)]="filterValueShiny" name="shinycheckbox" value="1" style="margin-left: 2rem;">
        <label for="shinycheckbox">Is Shiny</label><br>

        <input type="checkbox" [(ngModel)]="checkFavorites" name="favoritecheckbox" value="1" style="margin-left: 2rem;">
        <label for="favoritecheckbox">Favorites</label><br>

        <label>Generations</label>
        <select [(ngModel)]="genValue">            
            <!-- <option *ngFor="let x of raritiesList" [value]="x" [selected]="filterValue == x">{{x}}</option> -->
            <option *ngFor="let x of genOptions" [value]="x" [selected]="genValue == x">{{x}}</option>
        </select><br>


        <button (click) = 'filterCollection()' style="justify-self: center; font-size: large;">Filter Cards</button>
    </div>
</div>

</div>




<div class="row display: flex justify-content-center" >
    <div *ngFor="let card of pageOfItems" style="width: 18rem; margin: 1rem;" >
        <div *ngIf="card.RarityId == 1" class="card1 text-center border-dark mb-3" >
            <button *ngIf="!card.IsFavorite" (click)="favorite(card)" style="float: right; border:none; background: none;"><span id="star" style="font-size:300%;color:yellow; text-align: right;">&#10026;</span></button>
            <button *ngIf="card.IsFavorite" (click)="favorite(card)"  style="float: right; border:none; background: none;"><span id="star" style="font-size:300%;color:red; text-align: right;">&#10026;<br><p style="font-size: xx-small;">Favorited</p></span></button>
        <h5 class="card-title text-left" style="font-size: 1.45em; text-align: left;">x{{card.Quantity}}</h5>
        <img class="card-img-top" src="{{card.SpriteLink}}" alt="{{card.PokemonName}} Image">
        <div class="card-body">
        <h6>Common</h6>
        <h5 *ngIf="card.IsShiny as true; else elseBlock" class="card-title">★ {{card.PokemonName}} ★</h5>
        <ng-template #elseBlock><h5 class="card-title">{{card.PokemonName}}</h5></ng-template>
        <a href="{{bublapedia}}{{card.PokemonName}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View Details</a> <!-- make button hyperlink to pokemon info page or remove -->
        </div>
        </div>

        <div *ngIf="card.RarityId == 2" class="card2 text-center border-dark mb-3" >
            <button *ngIf="!card.IsFavorite" (click)="favorite(card)" style="float: right; border:none; background: none;"><span id="star" style="font-size:300%;color:yellow; text-align: right;">&#10026;</span></button>
            <button *ngIf="card.IsFavorite" (click)="favorite(card)"  style="float: right; border:none; background: none;"><span id="star" style="font-size:300%;color:red; text-align: right;">&#10026;<br><p style="font-size: xx-small;">Favorited</p></span></button>
        <h5 class="card-title text-left" style="font-size: 1.45em; text-align: left;">x{{card.Quantity}}</h5>
        <img class="card-img-top" src="{{card.SpriteLink}}" alt="{{card.PokemonName}} Image">
        <div class="card-body">
        <h6>Uncommon</h6>
        <h5 *ngIf="card.IsShiny as true; else elseBlock" class="card-title">★ {{card.PokemonName}} ★</h5>
        <ng-template #elseBlock><h5 class="card-title">{{card.PokemonName}}</h5></ng-template>
        <a href="{{bublapedia}}{{card.PokemonName}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View Details</a> <!-- make button hyperlink to pokemon info page or remove -->
        </div>
        </div>

        <div *ngIf="card.RarityId == 3" class="card3 text-center border-dark mb-3" >
            <button *ngIf="!card.IsFavorite" (click)="favorite(card)" style="float: right; border:none; background: none;"><span id="star" style="font-size:300%;color:yellow; text-align: right;">&#10026;</span></button>
            <button *ngIf="card.IsFavorite" (click)="favorite(card)"  style="float: right; border:none; background: none;"><span id="star" style="font-size:300%;color:red; text-align: right;">&#10026;<br><p style="font-size: xx-small;">Favorited</p></span></button>
        <h5 class="card-title text-left" style="font-size: 1.45em; text-align: left;">x{{card.Quantity}}</h5>
        <img class="card-img-top" src="{{card.SpriteLink}}" alt="{{card.PokemonName}} Image">
        <div class="card-body">
        <h6>Rare</h6>
        <h5 *ngIf="card.IsShiny as true; else elseBlock" class="card-title">★ {{card.PokemonName}} ★</h5>
        <ng-template #elseBlock><h5 class="card-title">{{card.PokemonName}}</h5></ng-template>
        <a href="{{bublapedia}}{{card.PokemonName}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View Details</a> <!-- make button hyperlink to pokemon info page or remove -->
        </div>
        </div>

        <div *ngIf="card.RarityId == 4" class="card4 text-center border-dark mb-3" >
            <button *ngIf="!card.IsFavorite" (click)="favorite(card)" style="float: right; border:none; background: none;"><span id="star" style="font-size:300%;color:yellow; text-align: right;">&#10026;</span></button>
            <button *ngIf="card.IsFavorite" (click)="favorite(card)"  style="float: right; border:none; background: none;"><span id="star" style="font-size:300%;color:red; text-align: right;">&#10026;<br><p style="font-size: xx-small;">Favorited</p></span></button>
        <h5 class="card-title text-left" style="font-size: 1.45em; text-align: left;">x{{card.Quantity}}</h5>
        <img class="card-img-top" src="{{card.SpriteLink}}" alt="{{card.PokemonName}} Image">
        <div class="card-body">
        <h6>Mythic</h6>
        <h5 *ngIf="card.IsShiny as true; else elseBlock" class="card-title">★ {{card.PokemonName}} ★</h5>
        <ng-template #elseBlock><h5 class="card-title">{{card.PokemonName}}</h5></ng-template>
        <a href="{{bublapedia}}{{card.PokemonName}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View Details</a> <!-- make button hyperlink to pokemon info page or remove -->
        </div>
        </div>

        <div *ngIf="card.RarityId == 5" class="card5 text-center border-dark mb-3" >
            <button *ngIf="!card.IsFavorite" (click)="favorite(card)" style="float: right; border:none; background: none;"><span id="star" style="font-size:300%;color:yellow; text-align: right;">&#10026;</span></button>
            <button *ngIf="card.IsFavorite" (click)="favorite(card)"  style="float: right; border:none; background: none;"><span id="star" style="font-size:300%;color:red; text-align: right;">&#10026;<br><p style="font-size: xx-small;">Favorited</p></span></button>
        <h5 class="card-title text-left" style="font-size: 1.45em; text-align: left;">x{{card.Quantity}}</h5>
        <img class="card-img-top" src="{{card.SpriteLink}}" alt="{{card.PokemonName}} Image">
        <div class="card-body">
        <h6>Legendary</h6>
        <h5 *ngIf="card.IsShiny as true; else elseBlock" class="card-title">★ {{card.PokemonName}} ★</h5>
        <ng-template #elseBlock><h5 class="card-title">{{card.PokemonName}}</h5></ng-template>
        <a href="{{bublapedia}}{{card.PokemonName}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">View Details</a> <!-- make button hyperlink to pokemon info page or remove -->
        </div>
        </div>

    </div>
</div>

